
.todo_form{
    display: flex;
    justify-content: space-between;
}

/* .add_button{
    width: 50px;
    font-size: 15px;
    background-color: cyan;
    border: none;
    border-radius: 7px;
} */
