* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.container {
    width: 500px;
    height: 300px;
    border: 2px dashed aqua;
}

